In [1]:
import pandas as pd

## 1 Corruption Perceptions Index

In [2]:
cpi_data = pd.read_json('data/cpi.json')
print(cpi_data)

          country iso3 region  year  score  rank  sources  standardError
0     Afghanistan  AFG     AP  2012      8   174        3           3.30
1     Afghanistan  AFG     AP  2013      8   175        3           3.30
2     Afghanistan  AFG     AP  2014     12   172        4           1.29
3     Afghanistan  AFG     AP  2015     11   166        4           3.49
4     Afghanistan  AFG     AP  2016     15   169        5           1.74
...           ...  ...    ...   ...    ...   ...      ...            ...
2307     Zimbabwe  ZWE    SSA  2020     24   157        9           1.35
2308     Zimbabwe  ZWE    SSA  2021     23   157        8           1.52
2309     Zimbabwe  ZWE    SSA  2022     23   157        8           1.53
2310     Zimbabwe  ZWE    SSA  2023     24   149        9           1.30
2311     Zimbabwe  ZWE    SSA  2024     21   158        9           0.91

[2312 rows x 8 columns]

In [4]:
clean_cpi = cpi_data[cpi_data['year'] == 2024]
clean_cpi

          country iso3 region  year  score  rank  sources  standardError
12    Afghanistan  AFG     AP  2024     17   165        5           5.76
25        Albania  ALB    ECA  2024     42    80        8           3.03
38        Algeria  DZA   MENA  2024     34   107        8           2.64
51         Angola  AGO    SSA  2024     32   121        8           2.80
64      Argentina  ARG    AME  2024     37    99        8           3.01
...           ...  ...    ...   ...    ...   ...      ...            ...
2259    Venezuela  VEN    AME  2024     10   178        8           1.27
2272      Vietnam  VNM     AP  2024     40    88        8           1.58
2285        Yemen  YEM   MENA  2024     13   173        7           1.72
2298       Zambia  ZMB    SSA  2024     39    92        9           1.76
2311     Zimbabwe  ZWE    SSA  2024     21   158        9           0.91

[180 rows x 8 columns]

## 2 Basel AML Index 2024

In [11]:
aml = pd.read_csv('data/aml_basel_2024.csv')
aml

                              Country  Overall score 2024  Ranking 2024
0                             MYANMAR                8.17             1
1                               HAITI                7.92             2
2    DEMOCRATIC REPUBLIC OF THE CONGO                7.73             3
3                                CHAD                7.60             4
4                           VENEZUELA                7.59             5
..                                ...                 ...           ...
160                           ANDORRA                3.29           160
161                           ESTONIA                3.16           161
162                           FINLAND                3.07           162
163                           ICELAND                3.00           163
164                        SAN MARINO                2.96           164

[165 rows x 3 columns]